.mat-card-content {
  margin: 14px 0px;
}
.mat-card-all-value {
  margin: 10px 0px !important;
}
.mat-card-content-value {
  font-weight: bold;
}
.form {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: auto;
}
.network-img {
  margin-right: 8px;
  height: 21px;
}
.network-value {
  margin-left: 7px;
}
.mat-elevation-z8 {
  width: 100%;
}
