<mat-card>
  <mat-card-content>
    <form class="mat-form" novalidate [formGroup]="cardForm" (submit)="onSubmit()">

      <div formGroupName="name" class="name">
        <mat-form-field>
          <input matInput placeholder="First name" formControlName="firstName">
          <mat-error *ngIf="fNameControl.invalid || fNameControl.touched">You must enter a value</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Last name" formControlName="lastName">
          <mat-error *ngIf="lNameControl.invalid">You must enter a value</mat-error>
        </mat-form-field>
      </div>

      <mat-form-field>
        <input matInput placeholder="Email" formControlName="email">
        <mat-error *ngIf="emailControl.invalid">{{getErrorMessageEmail()}}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Phone" formControlName="phone">
        <mat-error *ngIf="lNameControl.invalid">{{getErrorMessagePhone()}}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Nickname" formControlName="nickname">
        <mat-error *ngIf="nicknameControl.invalid">{{getErrorMessageNickname()}}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput [matDatepicker]="dp" placeholder="Birthday" formControlName="birthday" name="birthday">
        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker #dp></mat-datepicker>
        <mat-error *ngIf="birthdayControl.invalid || birthdayControl.pristine">You must enter a value</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Sex" formControlName="sex">
          <mat-option value="Male">Male</mat-option>
          <mat-option value="Female">Female</mat-option>
        </mat-select>
        <mat-error *ngIf="sexControl.invalid">You must enter a value</mat-error>
      </mat-form-field>

      <mat-form-field>
        <textarea matInput placeholder="Notes" formControlName="note"></textarea>
        <mat-error *ngIf="noteControl.invalid">Not a valid. Min length must be 50 symbols!</mat-error>
      </mat-form-field>

      <div class="mat-form-buttons">
        <button mat-raised-button color="primary" type="submit">Submit</button>
        <button mat-raised-button (click)="clearForm()">Clear</button>
      </div>

    </form>
  </mat-card-content>
</mat-card>


<mat-card *ngIf="isValid" class="mat-card-answer">
  <mat-card-header>
    <mat-card-title>
      <table>
        <tr>
          <td>First name:</td>
          <td>{{fNameControl.value}}</td>
        </tr>
        <tr>
          <td>Last name:</td>
          <td>{{lNameControl.value}}</td>
        </tr>
      </table>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <table>
      <tr>
        <td>Email:</td>
        <td>{{emailControl.value}}</td>
      </tr>
      <tr>
        <td>Phone:</td>
        <td>{{phoneControl.value}}</td>
      </tr>
      <tr>
        <td>Nickname:</td>
        <td>{{nicknameControl.value}}</td>
      </tr>
      <tr>
        <td>Birthday:</td>
        <td>{{birthdayControl.value}}</td>
      </tr>
      <tr>
        <td>Sex:</td>
        <td>{{sexControl.value}}</td>
      </tr>
      <tr *ngIf="noteControl.value">
        <td>Note:</td>
        <td>{{noteControl.value}}</td>
      </tr>
    </table>
  </mat-card-content>
</mat-card>
