mat-card {
  max-width: 800px;
  margin: auto;
  margin-top: 16px;
}
.mat-form {
  display: flex;
  flex-direction: column;
}
.name {
  display: flex;
  flex-direction: column;
}
.mat-form-buttons {
  display: flex;
  justify-content: space-between;
}
.mat-card-answer {
  max-width: 410px;
  margin: auto;
  margin-top: 16px;
}
.mat-card p {
  margin-bottom: 5px;
}
.mat-card-header td {
  width: 71px;
}
.mat-card-content td {
  width: 79px;
}
