<mat-card>
  <mat-card-content class="mat-card-content" *ngIf="editForm">
    <form class="mat-form" novalidate [formGroup]="editForm">

      <h1 class="content-firstname">Edit {{userInfo.name.firstName}} user</h1>

      <div class="name" formGroupName="name">
        <mat-form-field>
          <input matInput placeholder="First name" formControlName="firstName">
          <mat-error *ngIf="fNameControl.invalid || fNameControl.touched">You must enter a value</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Last name" formControlName="lastName">
          <mat-error *ngIf="lNameControl.invalid || lNameControl.touched">You must enter a value</mat-error>
        </mat-form-field>
      </div>

      <!--<mat-form-field>-->
        <!--<input matInput placeholder="Nickname" formControlName="nickname">-->
      <!--</mat-form-field>-->

      <mat-form-field>
        <input matInput
               [matDatepicker]="dp"
               [max]="date"
               placeholder="Birthday" formControlName="birthday" name="birthday">
        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker #dp></mat-datepicker>
        <mat-error *ngIf="birthdayControl.invalid || birthdayControl.touched">You must enter a value</mat-error>
      </mat-form-field>

      <!--<mat-form-field>-->
        <!--<input matInput placeholder="Address" formControlName="address">-->
      <!--</mat-form-field>-->

      <mat-form-field>
        <input matInput placeholder="Phone: +7(___)___-____" formControlName="phone" mask="+7(000)000-0000">
        <mat-error *ngIf="phoneControl.invalid || phoneControl.touched">You must enter a value</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Email" formControlName="email">
        <mat-error *ngIf="emailControl.invalid || emailControl.touched">You must enter a value</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Social Networks" formControlName="socNetworks">
        <mat-error *ngIf="socNetworksControl.invalid || socNetworksControl.touched">You must enter a value</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Password" formControlName="password">
        <mat-error *ngIf="passwordControl.invalid || passwordControl.touched">You must enter a value</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Confirm password" formControlName="confirmPassword">
        <mat-error *ngIf="confirmPasswordControl.invalid || confirmPasswordControl.touched">
          You must enter a value
        </mat-error>
      </mat-form-field>

      <div class="mat-form-buttons">
        <button mat-raised-button color="primary" type="submit" (click)="updateUser()">Update</button>
        <button mat-raised-button color="warn" type="submit" (click)="deleteUser(userInfo)">Delete</button>
      </div>

    </form>
  </mat-card-content>
</mat-card>
